.explore {
    display: flex;
    flex: 0.85;
    padding: 40px 20px;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #f9f9f9;
    flex-direction: column;
}

.explore__cardbox {
    flex-wrap: wrap;
    display: flex;
}

.explore__videosRow {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
}

.explore__sectionHeader {
    padding: 40px 20px;
    padding-right: 0;
    padding-bottom: 0;
}