.recommendation {
    flex: 0.85;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.recommendation>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendation__videos {
    display: flex;
    flex-wrap: wrap;
}